.gifts {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 750px;
    margin-left: 150px;
}

.gifts > div {
    display: flex;
    align-items: self-start;
    background-color: #f9f9f9;  
    padding: 10px;
    gap: 20px;
    border-radius: 8px; 
    width: 300px; 
}

.gifts img {
    max-width: 70px; 
    height: auto;
    margin-right: 10px;
}

.gifts p {
    margin: 0;
    padding: 0;
}

.gifts p:nth-child(3),
.gifts p:first-child {
    font-size: 1em; 
}

.gifts p:nth-child(2) {
    font-weight: bold;
    font-size: 0.8em; 
    color: rgb(0, 0, 0);
}
.p{
    position: absolute;
    top:950px;
    left: 400px;
    font-weight: bold;
    font-family: fantasy;
}

.rated {
    margin-left: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    gap: 30px;
}

.rateds {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 220px;
    padding: 10px;
    border: 1px solid gray;
    flex-direction: column;
    text-align: center; 
}

.rated-img {
    border-radius: 20px;
    width: 200px;
    height: auto;
}

.rated-p {
    margin-top: 10px;
    font-size: 14px; 
    color: #333;
}

.p2{
    position: absolute;
    top:1320px;
    left: 400px;
    font-weight: bold;
    font-family: fantasy;
}