.header {
    width: 100%; 
    max-width: 1900px; 
    height: 50px;
    border-bottom: 1px solid rgba(216, 216, 216, 0.657);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    position: absolute; 
    top: 0;
    left: 0;
    background: white; 
    z-index: 1000; 
}

.logo-row {
    position: absolute; 
    top: 9px;
    right: 900px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 30px; 
}

.wa-new-logo img {
    width: 200px; 
    display: block;
}

body {
    margin: 0;
    padding-top: 70px; 
}
.purple{
    width: 1900px;
    position: absolute;
    left: 2px;
    top: 170px;
    height: 50px;
    background-color: rgb(144, 140, 255);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}
.games{
    text-decoration: none;
    color: black;
    font-family: cursive;
}
.ouradress {
    position: absolute;
    left: 400px;
    top: 250px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px; 
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    font-weight: bold;
    margin: 0;
    font-size: 1.2em;
}

.description {
    margin: 5px 0 0 0; 
}

.img-adress {
    width: 700px; 
    height: auto;
}
.keter{
    position: absolute;
    left: 400px;
    top: 600px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: baseline;
    margin-left: 500px;
}
.ket{
    font-size: 70px;
    font-weight: bold;
    color: blue;
}